@media (max-width: 1000px ){
    #main-container { 
        width: 97%;}
}


@media (max-width: 900px ){
    #main-container { 
        width: 100%;
       flex-direction: column;    
    }

    #img-container{
        min-height: 500px;
        margin-top: 20px;
    }

    #img-container > img{
        height: 100%;
        width: auto;
    }
    #text-container{ 
        margin-top:20px;
        width: 50%;
    
    }
    #main-container { 
       height: auto;
    }
}
@media (max-width: 700px ){
    #text-container{
        width: 80% ;
    }
    header > p {
        width: 300px;
    }
   
}
@media (max-width: 510px ){
    #text-container{
        width: 95%;
        font-size: 15px;
    }
   
}

@media (max-width: 450px ){
    #img-container{
        width: 80%;
        
    }

    #text-container{ 
        overflow: auto;
    
    }

}